.logo-superior{
    width: 164px;
    padding-top: 20px;
}

.color-fondo{
    background-color: #f8f9fa !important;
}

.tamaño{
    width: 25% !important;
    max-width: 500px;
    height: auto;
    border-radius: 0px;
    display: grid;
    margin: 12% auto 0 auto;
}

.btn-primary{
    background-color:  #F0B727 !important;
    color: black !important;
    border: 0px !important;
}

#btn-primary{
    width: 100% !important;
}

.casilla{
    border-radius: 0px !important;
    width: 100% !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid rgb(179, 102, 9) !important;
}


@media only screen and (min-width: 0px) and (max-width: 600px){
    .tamaño{
        width:  90% !important;
        margin: 40% auto 0 auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1023px){
    .tamaño{
        width: 70% !important;
        margin: 30% auto 0 auto;
    }
}

@media only screen and (min-width: 1024px) {
    .tamaño{
        width: 25% !important;
        margin: 15% auto 0 auto;
    }
}
